<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Downloader</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1 class="text-center text-white p-5">Instagram Downloader</h1>
    <form action="/" method="post" class="container d-flex mt-5 mb-5">
        <input type="url" name="url" placeholder="Instagram URL" class="input form-control" required>
        <input type="submit" value="Download" class="btn-submit btn btn-primary">
    </form>
    <div id="content" class="container-fluid mt-3 mb-3">
        <% if (error) { %>
            <div class="alert alert-danger container text-center">
                <%= error %>
            </div>
        <% } %>
        <% if (ready) { %>
            <%
              var mediaWidth, mediaHeight;
            %> 
            <% if (mediaUrl.length > 1) { %>
                <% mediaWidth = mediaUrl[0].width; mediaHeight = mediaUrl[0].height; %>
                <% mediaUrl.forEach((slide, i) => { %>
                    <button class="download-btn-slide btn btn-success d-block mt-3 mb-3"><a href="<%= slide.media %>" target="_blank" class="download-text-slide text-white text-center">Download (slide <%= i + 1 %>)</a></button>
                <% }) %>
            <% } else { %>
                <% mediaWidth = media.sizes.width; mediaHeight = media.sizes.height; %>
                <button class="download-btn btn btn-success d-block"><a href="<%= mediaUrl %>" target="_blank" class="download-text text-white text-center">Download</a></button>
            <% } %>
            <table class="table container mt-5 mb-5 text-muted">
                <thead>
                    <tr>
                        <th scope="row" colspan="2" class="text-center">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:30%;">User</td>
                        <td style="width:70%">&commat;<%= media.user.username %></td>
                    </tr>
                    <tr>
                        <td>Profile picture</td>
                        <td><a href="<%= media.user.profilePicture %>" target="_blank" class="text-secondary">See profile picture</a></td>
                    </tr>
                    <tr>
                        <td>Caption</td>
                        <td><%- media.caption.text %></td>
                    </tr>
                    <tr>
                        <td>Download Date</td>
                        <td><%= media.takenDate %></td>
                    </tr>
                    <tr>
                        <td>Media Type</td>
                        <td><%= media.MediaType %></td>
                    </tr>
                    <tr>
                        <td>Likes</td>
                        <td><%= media.commentCount %></td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td><%= media.likeCount %></td>
                    </tr>
                    <tr>
                        <td>Width &times; Height</td>
                        <td><%= mediaWidth %> &times; <%= mediaHeight %></td>
                    </tr>
                </tbody>
            </table>
        <% } %> 
    </div>
    <script src="js/main.js"></script>
</body>
</html>